.animal-details{
  margin-top: 20px; 
  width: 100vw;
}
.details-title{
  margin-left: 40px;
}

.details-return {
  padding: 15px;
  border-radius: 50%;
  margin-top: 20px;
  cursor: pointer;
  transition: box-shadow 15s;
}

.details-return.btn {
  color: var(--green);
  background: white;
  transition: 0.2s;
}

.details-return:hover{
  color: white;
  background: var(--green);
}

.details-return .material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
}


.return-wrapper{
  display: flex;
  justify-content: space-around;
  width: 93vw;
}

.related-posts{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.see-more-btn{
  padding: 10px;
  border-radius: 10px;
  cursor:pointer;
  transition: background-color .30s;
}
.see-more-btn:hover{
  background-color: rgba(0,0,0 , .5);
}
