.user-feed-overview{
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.user-feed-overview h2{
  margin-top: 30px;
} 

.user-feed-wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.user-feed-navbar{
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: space-around; 
}

.user-feed-filter{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  text-align:center;
  width: 100vw;
}
.user-feed-filter h2{
  cursor: pointer;
  transition: opacity .15s;
}
.user-feed-navbar h2:hover{
  opacity: .5; 
}

.timeframe-wrapper, .categories-wrapper{
  display:flex;
  justify-content: space-around;
  margin-top: 20px;
}
.user-feed-timeframe, .user-feed-categories{
  display: flex; 
  justify-content: space-around;
  flex-direction: row;
}
.user-feed-timeframe h3, .user-feed-categories h3{
  cursor: pointer;
  transition: opacity .15s
}
.user-feed-timeframe h3:hover, .user-feed-categories h3:hover{
  opacity: .5;
}
.user-feed-timeframe{
  width: 500px;
  margin-top: 20px;
  transition: display .15s;
}
.user-feed-categories{
  width: 1000px;
  margin-top: 20px;
}
.hidden{
  display: none;
}

.user-feed-body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.user-upload-button{
  padding: 10px 15px;
  width: 150px;
  align-self: center;
  margin-top: 20px;
}

.load-more-feed{
  width: 300px;
  padding: 8px 0px;
  align-self: center;
  margin-top: 25px;
  cursor: pointer;
  font-family: Poppins;
  background: var(--brown);
}
.load-more-feed:hover{
  transition: 0.3s;
  background: white;
  color: var(--brown);

}

