.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.leaf {
    color: var(--green);
    font-size: 35px;
}

.web-title {
    font-weight: 700;
    font-size: 25px;
}
