.user-card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 20px 0px;
  background-color: rgba(51,51,51,.5);
  width: 500px;
  text-align: left;
}

.user-img{
  border: none;
  width: 500px;
  height: 600px;
}
.user-card-title{
  margin-bottom: 10px;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.user-card-desc{
  margin-bottom: 20px;
}

.likes-container {
  display: flex;
}
.likes-counter {
  margin: 0 8px;
}
