.user-card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  margin: 20px 0px;
  width: 500px;
  text-align: left;
}

.user-img{
  border: none;
  width: 500px;
  height: 600px;
}
.user-card-title{
  margin-bottom: 10px;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.user-card-desc{
  margin-bottom: 20px;
}

.user-card .likes-container {
  display: flex;
  position: absolute;
  bottom: 2.5%;
  left: 3%;
  width: 100%;
  z-index: 50;
}
.user-card .likes-counter {
  margin: 0 8px;
  color: white;
}

.report:hover{
  background-color: red;
  opacity: .9;

}

.flag-user {
  display: flex;
  position: absolute;
  right: 5%;
}

.uc.flagged-icon {
  color: white;
}

.uc.flagged-icon:hover {
  cursor: pointer;
  color: var(--nextui-colors-error);
  transition: 0.4s;
}
.nextui-c-iVzbCs-icDvGzP-css {
  height: 600px;
}

.single-post .overlay {
  z-index: 1;
  transition: 0.5s;
  cursor: pointer;
}

.single-post .overlay:hover {
  opacity: 0;
}

.flagged-tooltip {
  margin-left: 50px;
}