.search-results{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  align-self: center;
  align-items: center;
}

.search-results .f-footer {
  bottom: 0;
}

.search-result-content{
  display: flex;
  align-items: center;  
}

.search-result-submit{
  width: 55px;
  height: 55px;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.search-wrapper {
  margin: 50px 0;
}

.animal-card-area{
  width: 100%;
  margin-top: 40px;
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}
.hidden{
  display: none;
}

.search-message{
  margin-top: 40px;
}
.search-loading{
  margin-top: 20px;
}

