.search-results{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  align-self: center;
  align-items: center;
}

.search-result-content{
  display: flex;
  align-items: center;
  margin: 40px;    
}

.search-result-submit{
  width: 55px;
  height: 55px;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.animal-card-area{
  width: 100vw;
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.no-results-title{
  margin-top: 40px;
}

.hidden{
  display: none;
}

